[Unit]
Description=Website
After=network.target

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/opt/webapps/www

EnvironmentFile=./.env

ExecStart=/usr/bin/node ./bin/www

Restart=always
RestartSec=3

LimitNOFILE=65535

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
